page-home {

}
.main {
    background-color: #283747;
  }
  
.buttons {
    background-color: #154360;
}

.location {
    background-color: #d6eaf8;
}

.list {
  background-color: #d6eaf8;
}

.ftn {
  background-color: #d6eaf8;
}